
<!DOCTYPE html>

<html>
<head>
   
    <script src="/Content/site/js/jquery.etalage.min.js"></script>
</head>
<body>
   
    <!-- start Contact-page -->
    <!-- content-section-starts -->
    <br />
    <div class="container">
        <h1>This Shopping Cart belongs to: @ViewBag.Nome</h1>
    </div>
    <br />
    <br />

    @foreach (var cart in ViewBag.produtos)
    {
    <!-- list of products in the cart -->
        <div class="row">
            <input type="hidden" name="idP" value="{$pps.idProduto}">
            <ul class='item-list'>
                <li class='item'>
                    <div class='item__information'>
                        <div class='item__image'>
                            <img src="/Content/site/images/products/@cart.CDU_Imagem">
                        </div>
                        <div class='item__body'>
                            <h2 class='item__title'>@cart.Marca</h2>
                            <p class='item__description'>@cart.DescArtigo</p>
                        </div>
                        <div class='item__price' id="{$pps.nome}price">@cart.Preço</div>
                        <input type="hidden" id="{$pps.nome}hidden" value="{$pps.preco}">

                        <div style="position:absolute;right:40px; top:40px;">
                            <form action="{$BASE_URL}actions/users/removecart.php" method="post">
                                <input type="hidden" name="precoind" id="precoind" value="{$pps.nome}">
                                <input type="submit" class="btn btn-info" value="Remover Produto!" onclick="">
                            </form>
                        </div>
                    </div>
                    <div class='item__interactions'>
                        <button class='item-increase' onclick="Increase('{$pps.nome}');return false;">+</button>
                        <button class='item-decrease' onclick="Decrease('{$pps.nome}');return false;">-</button>
                        <span id="{$pps.nome}">1</span>
                    </div>
                </li>
            </ul>
        </div>
    }

    <div class='summary js-summary'>
        <ul class='steps'>
            <li>
                <b>Subtotal:</b>
                <div class='sum'></div>
            </li>
            <li>
                <b>Taxes (5%):</b>
                <span class='taxes'></span>
            </li>
            <li>
                <b>Shipping:</b>
                <span class='total'></span>
            </li>
        </ul>
        <ul class='checkout'>
            <li>
                <b>Total:</b>
                <span class='total js-total' id="checkoutt"></span>
            </li>
            <li id="checkout-bt">
                <a class='button js-checkout-button' href="#" onclick="CheckItOut();return false;">Checkout</a>
            </li>
        </ul>
    </div>


    <!-- content-section-ends -->

    <div class="footer">
        <div class="up-arrow">
            <a class="scroll" href="#home"><img src="images/up.png" alt="" /></a>
        </div>
        <div class="container">
            <div class="copyrights">
                <p>Copyright &copy; 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
            </div>
            <div class="footer-social-icons">
                <a href="#"><i class="fb"></i></a>
                <a href="#"><i class="tw"></i></a>
                <a href="#"><i class="in"></i></a>
                <a href="#"><i class="pt"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>
</html>