@{
    ViewBag.Title = "teste";
}

<table>
    @foreach (var artigo in ViewBag.artigos)
    {
        <tr>
            <td>@artigo.ID</td>
            <td>@artigo.SubFamilia</td>
        </tr>
    }
    <table>
