<html>
<body>
    <div class="container">
        <div class="contact">
            <div class="contact-form">
                <br /><br />
                <h2>Contacte-nos</h2>
                <form method="post" action="{$BASE_URL}actions/reclamacao/reclamacao.php">
                    <div>
                        <span><label>Nome</label></span>
                        <span><input name="userName" type="text" class="textbox"></span>
                    </div>
                    <div>
                        <span><label>E-mail</label></span>
                        <span><input name="userEmail" type="email" class="textbox"></span>
                    </div>
                    <div>
                        <span><label>Assunto</label></span>
                        <span><textarea name="userMsg"> </textarea></span>
                    </div>
                    <div>
                        <span><input type="submit" class="" value="Submeter"></span>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="recommand-section">
            <div class="recommand-section-head text-center">
            </div>
        </div>
    </div>
  
</body>
</html>