<!DOCTYPE html>
<html>
<body>
    <!-- header-section-starts -->
    <div class="header" >
        <div class="banner">
            <div>

                <div class="container">

                    @{

                        if (Session["Username"] == null)
                        {
                            <div class="sign-up1">
                                <a href="/Home/Login">Sign Up</a>
                            </div>

                            <div class="sign-in">
                                <a href="/Home/Login">Sign In</a>
                            </div>

                        }

                        else
                        {
                            <div class="sign-in">
                                <a href="/Home/Logout">Logout @Session["name"]</a>
                            </div>
                        }
                    }


                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="banner-info text-center">
                <i class="shipping"></i>
                <h3>Loja Online do Primavera</h3>
                <br /><br /><br />
                <a href="Home/Artigos">All Products</a>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="recommand-section">
                <div class="recommand-section-head text-center">
                    <h3><span>R</span>ecommended</h3>
                    <p>“check out some recommended products also”</p>
                </div>
                <div class="recommand-section-grids">

                    <div class="standards">
                        <ul class="selectors_wrapper">
                            <div class="tags">
                                <h3>Tags  <img src="images/tag.png" alt="" /></h3>
                            </div>
                            <li class="selector active" data-selector="1">Popular</li>
                            <li class="selector" data-selector="2">Sales</li>
                            <li class="selector" data-selector="3">Seller</li>
                            <li class="selector" data-selector="4">Rate</li>
                        </ul>

                        <div class="standard_content">
                            <div class="standard active" data-selector="1">
                                <div class="tag-grid">
                                    <div class="portfolio app mix_all  data-cat=" app" style="display: inline-block; opacity: 1;">
                                        <div class="portfolio-wrapper">
                                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/pic7.jpg" class="img-responsive" alt="" /><div class="b-wrapper">
                                                    <div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt="" /></h2>
                                                </div>
                                            </a>
                                            <div class="r-title">
                                                <h3>Lolona Bag</h3>
                                                <h4>$30</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tag-grid">
                                    <div class="portfolio app mix_all  data-cat=" app" style="display: inline-block; opacity: 1;">
                                        <div class="portfolio-wrapper">
                                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/pic8.jpg" class="img-responsive" alt="" /><div class="b-wrapper">
                                                    <div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt="" /></h2>
                                                </div>
                                            </a>
                                            <div class="r-title">
                                                <h3>Jism Watch</h3>
                                                <h4>$30</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tag-grid">
                                    <div class="portfolio app mix_all  data-cat=" app" style="display: inline-block; opacity: 1;">
                                        <div class="portfolio-wrapper">
                                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/pic9.jpg" class="img-responsive" alt="" /><div class="b-wrapper">
                                                    <div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt="" /></h2>
                                                </div>
                                            </a>
                                            <div class="r-title">
                                                <h3>Sunny Dress</h3>
                                                <h4>$30</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="standard" data-selector="2">
                                <div class="tag-grid">
                                    <div class="portfolio app mix_all  data-cat=" app" style="display: inline-block; opacity: 1;">
                                        <div class="portfolio-wrapper">
                                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/pic7.jpg" class="img-responsive" alt="" /><div class="b-wrapper">
                                                    <div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt="" /></h2>
                                                </div>
                                            </a>
                                            <div class="r-title">
                                                <h3>Lolona Bag</h3>
                                                <h4>$30</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tag-grid">
                                    <div class="portfolio app mix_all  data-cat=" app" style="display: inline-block; opacity: 1;">
                                        <div class="portfolio-wrapper">
                                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/pic9.jpg" class="img-responsive" alt="" /><div class="b-wrapper">
                                                    <div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt="" /></h2>
                                                </div>
                                            </a>
                                            <div class="r-title">
                                                <h3>Sunny Dress</h3>
                                                <h4>$30</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tag-grid">
                                    <div class="portfolio app mix_all  data-cat=" app" style="display: inline-block; opacity: 1;">
                                        <div class="portfolio-wrapper">
                                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/pic8.jpg" class="img-responsive" alt="" /><div class="b-wrapper">
                                                    <div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt="" /></h2>
                                                </div>
                                            </a>
                                            <div class="r-title">
                                                <h3>Jism Watch</h3>
                                                <h4>$30</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="standard" data-selector="3">
                                <div class="tag-grid">
                                    <div class="portfolio app mix_all  data-cat=" app" style="display: inline-block; opacity: 1;">
                                        <div class="portfolio-wrapper">
                                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/pic9.jpg" class="img-responsive" alt="" /><div class="b-wrapper">
                                                    <div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt="" /></h2>
                                                </div>
                                            </a>
                                            <div class="r-title">
                                                <h3>Sunny Dress</h3>
                                                <h4>$30</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tag-grid">
                                    <div class="portfolio app mix_all  data-cat=" app" style="display: inline-block; opacity: 1;">
                                        <div class="portfolio-wrapper">
                                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/pic7.jpg" class="img-responsive" alt="" /><div class="b-wrapper">
                                                    <div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt="" /></h2>
                                                </div>
                                            </a>
                                            <div class="r-title">
                                                <h3>Lolona Bag</h3>
                                                <h4>$30</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tag-grid">
                                    <div class="portfolio app mix_all  data-cat=" app" style="display: inline-block; opacity: 1;">
                                        <div class="portfolio-wrapper">
                                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/pic8.jpg" class="img-responsive" alt="" /><div class="b-wrapper">
                                                    <div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt="" /></h2>
                                                </div>
                                            </a>
                                            <div class="r-title">
                                                <h3>Jism Watch</h3>
                                                <h4>$30</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="standard" data-selector="4">
                                <div class="tag-grid">
                                    <div class="portfolio app mix_all  data-cat=" app" style="display: inline-block; opacity: 1;">
                                        <div class="portfolio-wrapper">
                                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/pic7.jpg" class="img-responsive" alt="" /><div class="b-wrapper">
                                                    <div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt="" /></h2>
                                                </div>
                                            </a>
                                            <div class="r-title">
                                                <h3>Jism Watch</h3>
                                                <h4>$30</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tag-grid">
                                    <div class="portfolio app mix_all  data-cat=" app" style="display: inline-block; opacity: 1;">
                                        <div class="portfolio-wrapper">
                                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/pic9.jpg" class="img-responsive" alt="" /><div class="b-wrapper">
                                                    <div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt="" /></h2>
                                                </div>
                                            </a>
                                            <div class="r-title">
                                                <h3>Lolona Bag</h3>
                                                <h4>$30</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tag-grid">
                                    <div class="portfolio app mix_all  data-cat=" app" style="display: inline-block; opacity: 1;">
                                        <div class="portfolio-wrapper">
                                            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                                                <img src="images/pic8.jpg" class="img-responsive" alt="" /><div class="b-wrapper">
                                                    <div class="atc"><p>Add To Cart</p></div><div class="clearfix"></div><h2 class="b-animate b-from-left    b-delay03 "><img src="images/icon-eye.png" class="img-responsive go" alt="" /></h2>
                                                </div>
                                            </a>
                                            <div class="r-title">
                                                <h3>Sunny Dress</h3>
                                                <h4>$30</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        
    <div class="footer">
        <div class="up-arrow">
            <a class="scroll" href="#home"><img src="images/up.png" alt="" /></a>
        </div>
        <div class="container">
            <div class="copyrights">
                <p>Copyright &copy; 2015 All rights reserved | Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
            </div>
            <div class="footer-social-icons">
                <a href="#"><i class="fb"></i></a>
                <a href="#"><i class="tw"></i></a>
                <a href="#"><i class="in"></i></a>
                <a href="#"><i class="pt"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>