<!DOCTYPE html>
<html>
<body>
    <!-- header-section-starts -->
    <div class="header">
        <div class="banner">
            <div>

                <div class="container">

                    @{

                        if (Session["Username"] == null)
                        {
                            <div class="sign-up1">
                                <a href="/Home/Register">Sign Up</a>
                            </div>

                            <div class="sign-in">
                                <a href="/Home/Login">Sign In</a>
                            </div>

                        }

                        else
                        {
                            <div class="sign-in">
                                <a href="/Home/Logout">Logout @Session["name"]</a>
                            </div>
                        }
                    }

                    <div class="clearfix"></div>
                </div>
                </div>

    <div class="banner-info text-center">
        <i class="shipping"></i>
        <h3>Loja Online do Primavera</h3>
        <br /><br /><br />
        <a href="/Home/Artigos">All Products</a>
    </div>
    </div>
    </div>

    <div class="container">
        <div class="recommand-section">
            <div class="recommand-section-head text-center">
                <h3><span>R</span>ecomendados</h3>
                <p>Alguns dos nossos melhores produtos!</p>
            </div>
        </div>
    </div>
</body>
</html>